body {
  padding-bottom: 30px;
}

#ruby, #css, #cSharp, #dont, #try-again{
  display: none;
}




#questions {

}

#img-header {
  width: 650px;
  display: flex;
  margin: 0 auto;
  padding: 15px;
}

.panel{
  text-align: center;
  border-radius: 0%;
}

.header-text {
  
}
