body {
  padding-bottom: 30px;
  background-color: #4A5159;
  color: #C5C8D9;
}

.header-styling {
  background-color: #363B40;
  color: #C5C8D9;
}

.questions-styling {
  background-color: #4A5159;
  color: #C5C8D9;
}

#ruby, #css, #cSharp, #dont, #try-again{
  display: none;
}

.btn {
  color: #1A1C1F;
  font-weight: bold;
}

.btn:hover {
  color: #363B40;
  font-weight: bold;
}

#img-header {
  width: 650px;
  display: flex;
  margin: 0 auto;
  padding: 15px;
}

.panel{
  text-align: center;
  border-radius: 0%;
}

.header-text {
  font-size: 72px;
}

a#ruby-link {
  font-size: 72px;
  color: #C5C8D9;
  text-decoration: none;
  -webkit-transition: olor 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

a#ruby-link:hover {
  font-size: 72px;
  color: #A6031C;
  -webkit-transition: olor 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

a#css-link {
  font-size: 72px;
  color: #C5C8D9;
  text-decoration: none;
  -webkit-transition: olor 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

a#css-link:hover {
  font-size: 72px;
  color: #11377F;
  -webkit-transition: olor 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

a#cSharp-link {
  font-size: 72px;
  color: #C5C8D9;
  text-decoration: none;
  -webkit-transition: olor 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

a#cSharp-link:hover {
  font-size: 72px;
  color: #5B3569;
  text-decoration: none;
  -webkit-transition: olor 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.logo {
  width: 75px;
  float: left;
  margin-right: 25px;
}
